!!!
%html
  %head
    %title #{yield(:title)} | Ruby on Rails Tutorial Sample App
    = render 'layouts/rails_default'
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    %div.container
      = yield
      = render 'layouts/footer'
